


@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;

}

#grandparent{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url(eid-al-adha-mubarak-beautiful-islamic-blue-background_1055-8597\ \(1\).avif);
	/* background-image: url(dunba.avif); */
	/* background-image: url(beautiful-islamic-eid-al-adha-mubarak-greeting-card_1055-10459.avif); */
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center center;
	/* background-image: url(dunba.avif); */
	
	
}


.mainbody{
	width: 60%;
	height: 70vh;

	border-radius: 10px;
	box-shadow: 0 0 50px rgba(0,0,0,.5);
	background: linear-gradient(120deg,rgba(160,101,177,0.7),rgba(4,131,160,0.7));
}

.text{
	width: 50%;
	height: 30vh;
	padding-left: 2.5rem;
	color:#ffffff;
}
h3{
	font-size: 1.8rem;
	margin-top: 5rem;
	padding-bottom: 1rem;
	
}
.eid{
	font-weight: 400px;
	font-size: 2.25rem;
	padding-bottom: 1rem;
	
}

.share{
	margin-left: 0.5rem;
	padding-left: 0.5rem;
	color: #ffffff;
	font-weight: 500;
	width: 65px;
	height: 30px;
	padding: 0.5rem;
	border-radius: 30px;
	border: none;
	background: #ff4489;
}

 /* .dt{
	padding-bottom: 1.8rem;
	
} */


p{
	font-size: 1.1rem;
}


.boxesparent{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	justify-content: baseline;
	height: 20vh;
	color: #ffffff;
	gap: 0.5rem;
}

.box1{

	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	background-color:#00c3e8;
	box-shadow: 0 0 10px rgba(0,195,232,.8);
}

.box2{
    
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	width: 80px;
	height: 100px;
	background-color:#f86bce;
	box-shadow: 0 0 10px rgba(248, 107, 206, .8);
}


.box3{

	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	width: 80px;
	height: 130px;
	background-color:#00cca4;
	box-shadow: 0 0 10px rgba(0, 204, 164, .8);
	align-self: flex-start;
	margin-top: -5px;
}


.box4{
   
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	width: 80px;
	height: 90px;
	background-color:#f0963a;
	box-shadow: 0 0 10px rgba(240, 150, 58, .8);
	
}


.box5{
   
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	width: 80px;
	height: 90px;
	margin-right: 1rem;
	background-color:#c54949;
	box-shadow: 0 0 10px rgba(240, 150, 58, .8);
	
}

@media  (min-width:576px) and (max-width:768px){
	.mainbody{
		width: 75%;
		height: 80vh;
	}
	
	.text{
		width: 70%;
		height: 40vh;
	}
	h3{
		font-size: 1.2rem;
		margin-top:3rem;
		padding-bottom: 0.8rem;
		
	}
	.eid{
		font-weight: 400px;
		font-size: 1.2rem;
		padding-bottom: 1rem;
		
	}
	.boxesparent{
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		height: 20vh;
	
		
	}
.box1{
	width: 75px;
	height: 70px;
	
}
.box2{
	width: 75px;
	height: 90px;
	
}

.box3{
	width: 75px;
	height: 110px;
	margin-top: -20px;
}

.box4{
   
	
	width: 75px;
	height: 80px;


	
}

.box5{
  
	width: 75px;
	height: 80px;
	
	
}





}

@media  (min-width:768px) and (max-width:992px){


	.mainbody{
		width: 75%;
		height: 80vh;
	}
	.text{
		width: 70%;
		height: 40vh;
	}
	h3{
		font-size: 1.5rem;
		margin-top:3rem;
		padding-bottom: 0.8rem;
		
	}
	.eid{
		font-weight: 400px;
		font-size: 1.5rem;
		padding-bottom: 1rem;
		
	}
	.boxesparent{
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		height: 20vh;
	
		
	}
.box1{
	width: 77px;
	height: 75px;
	
}
.box2{
	width: 77px;
	height: 95px;
	
}

.box3{
	width: 77px;
	height: 115px;
	margin-top: -26px;
}


.box4{
   
	
	width: 77px;
	height: 80px;


	
}

.box5{
  
	width: 77px;
	height: 80px;
	
	
}



}


@media  (min-width:992px) and (max-width:1024px){


	.mainbody{
		width: 75%;
		height: 80vh;
	}
	.text{
		width: 70%;
		height: 40vh;
	}
	h3{
		font-size: 1.8rem;
		margin-top:3rem;
		padding-bottom: 0.8rem;
		
	}
	.eid{
		font-weight: 400px;
		font-size: 1.8rem;
		padding-bottom: 1rem;
		
	}


	.boxesparent{
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		height: 20vh;
	
		
	}
.box1{
	width: 80px;
	height:78 px;
	
}
.box2{
	width: 80px;
	height: 99px;
	
}

.box3{
	width: 80px;
	height: 118px;
	margin-top: -29px;
}


.box4{
   
	
	width: 80px;
	height: 78px;


	
}

.box5{
  
	width: 80px;
	height: 78px;
	
	
}

}



@media  (min-width:1024px) and (max-width:1200px){


	.mainbody{
		width: 75%;
		height: 80vh;
	}
	.text{
		width: 70%;
		height: 40vh;
	}
	h3{
		font-size: 2.2rem;
		margin-top:3rem;
		padding-bottom: 0.8rem;
		
	}
	.eid{
		font-weight: 400px;
		font-size: 2.2rem;
		padding-bottom: 1rem;
		
	}
	.alone{

		font-size: 1.3rem;

	}



	.boxesparent{
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		height: 20vh;
	
		
	}
.box1{
	width: 85px;
	height:80px;
	
}
.box2{
	width: 85px;
	height: 102px;
	
}


.box3{
	width: 85px;
	height: 118px;
	margin-top: -29px;
}


.box4{
   
	
	width: 85px;
	height: 81px;


	
}

.box5{
  
	width: 85px;
	height: 81px;
	
	
}


}

@media  (min-width:1200px) and (max-width:1400px) {
	
	.box3{
		margin-top: -16px;
	}
}


	


@media  (min-width:425px) and (max-width:576px){
	.mainbody{
		width: 75%;
		height: 80vh;
	}
	.text{
		width: 90%;
		height: 40vh;
	}
	h3{
		font-size: 1.2rem;
		margin-top:3rem;
		padding-bottom: 0.8rem;
		
	}
	.eid{
		font-weight: 400px;
		font-size: 1.2rem;
		padding-bottom: 1rem;
		
	}
	
	.boxesparent{
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		height: 20vh;
	
		
	}
.box1{
	width: 73px;
	height: 72px;
	margin-left: 0.5rem;
	
}
.box2{
	width: 72px;
	height: 87px;
	
}


.box3{
	width: 72px;
	height: 107px;
	margin-top: -20px;
}

.box4{
   
	
	width: 72px;
	height: 77px;


	
}

.box5{
  
	width: 72px;
	height: 77px;
	
	
}

}


@media  (min-width:300px) and (max-width:425px){
	.mainbody{
		width: 100%;
		height: 80vh;
	}
	
	.text{
		width: 100%;
		height: 40vh;
	}
	h3{
		font-size: 1rem;
		margin-top:3rem;
		padding-bottom: 0.8rem;
		
	}
	.alone{
		font-size: 0.95rem;
		margin-bottom: 0.4rem;
		padding: 0.2rem;
	}
	.dt{
		font-size: 1rem;
	}
	.eid{
		font-weight: 400px;
		font-size: 1rem;
		padding-bottom: 1rem;
		
	}
	/* .boxesparent{
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		height: 20vh;

	} */
		.boxesparent{
			display: flex;
			/* flex-wrap: wrap; */
			justify-content: center;
			align-items: flex-end;
			
			justify-content: baseline;
			height: 20vh;
			
		}
	
		
	
.box1{
	width: 60px;
	height: 65px;
	margin-left: 0.5rem;
	
	
}
.box2{
	width: 60px;
	height: 80px;
	
}

.box3{
	width: 60px;
	height: 100px;
	margin-top: -7px;
}

.box4{
   
	
	width: 60px;
	height: 73px;


	
}

.box5{
  
	width: 60px;
	height: 73px;
	
	
}

.heading{
	font-weight: normal;
	font-size: 0.9rem;
}
span{
	font-size: 0.9rem;
}






}



